name: Build

on: [ push ]

env:
  GO_VERSION: '1.25'
  GOLANGCI_VERSION: 'v2.5.0'
  STATICCHECK_VERSION: '2025.1.1'

permissions:
  contents: read

jobs:
  vet:
    name: "vet"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/checkout@v5
      - run: go vet $(go list ./... | grep -v /vendor/)

  test:
    name: "test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/checkout@v5
      - run: go test $(go list ./... | grep -v /vendor/)

  golangci:
    name: "GolangCI"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ env.GOLANGCI_VERSION }}

  staticcheck:
    name: "STATICCHECK"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - uses: dominikh/staticcheck-action@v1.4.0
        with:
          version: ${{ env.STATICCHECK_VERSION }}
          install-go: false

  build:
    name: "build"
    runs-on: ubuntu-latest
    needs:
      - vet
      - test
      - golangci
      - staticcheck
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/checkout@v5
      - run: go mod vendor
      - run: go build -mod=vendor -ldflags "-X 'main.Version=${{ github.ref_name }}' -extldflags '-static'" -o calendarsync cmd/calendarsync/main.go
