name: Build

on: [ push ]

env:
  GO_VERSION: '1.20.4'
  GO_VERSION_SHORT: '1.20'
  GOLANGCI_VERSION: 'v1.52.2'
  STATICCHECK_VERSION: '2023.1.3'

jobs:
  vet:
    name: "vet"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/checkout@v3
      - run: go vet $(go list ./... | grep -v /vendor/)

  test:
    name: "test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/checkout@v3
      - run: go test $(go list ./... | grep -v /vendor/)

  golangci:
    name: "GolangCI"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: golangci/golangci-lint-action@v3
        with:
          version: ${{ env.GOLANGCI_VERSION }}

  staticcheck:
    name: "STATICCHECK"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: dominikh/staticcheck-action@v1.3.0
        with:
          version: ${{ env.STATICCHECK_VERSION }}
          install-go: false

  build:
    name: "build"
    runs-on: ubuntu-latest
    needs:
      - vet
      - test
      - golangci
      - staticcheck
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/checkout@v3
      - run: go mod vendor
      - run: go build -mod=vendor -ldflags "-X 'main.Version=${{ github.event.base_ref }}' -extldflags '-static'" -o calendarsync cmd/calendarsync/main.go
